<section>
  <div class="container">
    <form class="form-container" [formGroup]="findUsersData">
      <div class="form-group-container">
        <input class="form-control" name="searchUsername" autocomplete="off" type="search" class="search" formControlName="searchUsername" placeholder="Search for people">
        <button type="button" class="btn btn-default search-btn" (click)="getUserList(findUsersData)">Search</button>
      </div>
      <div *ngIf="loadingBar" class="text-center">
        <img src="../../assets/spinner.gif">
      </div>
      <div class="text-center" *ngIf="noDataFlag && userCollections.length==0">
        <h3>Sorry, We are not able to find associate users </h3>
      </div>
      <div *ngIf="userCollections.length>0">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-list"></span> Find the user information
          </div>
          <div class="panel-body" *ngFor="let emp of userCollections; let i=index;">
            <div class="row">
              <div class="col-xs-2"><img src="{{emp.avatar_url}}" class="user-img"><label>{{emp.login}} </label></div>
              <div class="col-xs-4"><label> {{emp.url}} </label></div>
              <div class="col-xs-2"><label> {{emp.type}} </label></div>
              <div class="col-xs-2"><label> {{emp.score}} % </label></div>
              <div class="col-xs-2 text-right">
                <label class="view-details-link" (click)="viewUserDetails(emp)"> View Details</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
